@charset 'UTF-8' ;
@import './ui/layout';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

html, body{
	height : 100%;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
}


.wrap{

	$size : 100px;

	display: grid ;
	grid-gap: 1em;
	// grid-template-columns: 100px auto 100px;
	// grid-template-rows: 100px 100px 100px;
	// grid-template-columns: repeat( 4 , 100px ) ;
	// grid-template-columns: $size [col-start] $size [col-start] $size [col-start];
	// grid-template-columns: 1fr 600px 1fr;
	grid-template-columns:
	100px 100px 100px;
	// 50px auto 100px ;
			// minmax( 50px, 1fr )
			// minmax( 0, 600px )
			// minmax( 50px, 1fr ) ;
		// [full-start]
		// 	minmax( 1em, 1fr )
		// [main-start]
		// 	minmax( 0, 600px )
		// [main-end]
		// 	minmax( 1em, 1fr )
		// [full-end] ;

	> div {
		background-color: #eee;
		// grid-column: main ;
		&:nth-child(1){
			grid-column: 1/4;
		}
		&.full{
			background-color: #bbb;
			// grid-column: full ;
			// grid-column-start: col-start 2 ;
		}
	}
}
/*
.wrawpper{
	width:800px; height:400px;
	display: grid;
	grid-template-columns:repeat( 10 , 1fr ) ;
	grid-template-rows:100px 50px 1fr;
	grid-gap:10px;
	color:#fff;
	> img{
		grid-column: 1 / -1 ;
		grid-row : 1 / 4;
		align-self: stretch;
		justify-self : stretch;
	}
	h1 {
		grid-column: 2 / -1 ;
		grid-row: 2 ;
		font-size:32px;
	}
	p {
		grid-column: 2 / 7 ;
		grid-row: 3;
	}
	&.type2{
		grid-template-rows:200px 50px 1fr;
		h1 {
			grid-column: 7 / -1 ;
		}
		p {
			grid-column: 7 / -1 ;
			padding-right: 10px;
		}
	}
} */
/*
.wrapper{
	display: grid;
	grid-template-columns: [full-start] 1fr [center-start] 1fr 1fr 1fr [center-end] 1fr [full-end] ;
	> * {
		border:1px solid #ddd;
	}
	.header{
		display: grid;
		grid-column: 2 / -1; ;
		grid-template-columns: 100px 1fr 100px ;

		padding:10px;
		.srch{
			input[type=text]{
				width:100%;
				line-height: 36px;
				border:1px solid #333;
			}
		}
	}
	nav {
		grid-column: full ;
		display: grid;
		padding:10px;
		background-color: #333;
		color:#fff;
	}
	.banner{
		grid-column: center;
	}
} */



.slider_wrap{
	width:100%; height:100%;
	// display: flex;
	// flex-direction: row;
	display: grid ;
	grid-template-columns: repeat( 6 , 1fr ) ;
	// grid-template-columns: 1fr 400px 1fr 1fr 1fr 1fr ;
	.item {
		background-position:center center;
		background-size: cover;
		background-repeat: no-repeat;
		font-size:20px;
		color:#fff;
		text-align:center;
		-webkit-box-shadow: -5px 0px 15px 2px rgba(0,0,0,0.43);
		-moz-box-shadow: -5px 0px 15px 2px rgba(0,0,0,0.43);
		box-shadow: -5px 0px 15px 2px rgba(0,0,0,0.43);

		@for $i from 1 through 10 {
		  &:nth-child( #{$i} ){
		  		background-image: url(https://picsum.photos/1000/1000?image=#{$i});
		  		// grid-column: #{$i} / #{$i + 1}  ;
		  }
		}

		&:hover{
			// flex-grow:10;
		}
	}
}
