@charset 'UTF-8' ;
@import './ui/layout';
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

html, body{
	height : 100%;
}
body {
	font-family: Helvetica, arial, sans-serif;
}

.bx_ani{
	width:100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.bx{
	position: relative;
	text-align: center;
	padding:100px 20px;
	border-bottom:1px solid #333;
}

/* twave1 */
.twave1{
	$moveValue : 30px;
	$moveSpeed : .3s;
	font-size:0;
	> div {
		font-size:0;
		transition:opacity $moveSpeed;
		> span {
			display: inline-block;
			min-width:.4em;
			color:#000;
			font-weight:bold;
			font-size:45px;
			opacity: 0;
			transition:opacity $moveSpeed;
			transform:translateY($moveValue);
		}
	}
	&.active{
		> div {
			opacity: 1;
			> span {
				animation-name : twave;
				animation-duration: $moveSpeed;
				animation-fill-mode: forwards;
				animation-timing-function: ease-out;
			}
		}
	}
	&.hasEvt:hover{
		> div {
			opacity: 1;
			> span {
				animation-name : twave;
				animation-duration: $moveSpeed;
				animation-fill-mode: forwards;
				animation-timing-function: ease-out;
			}
		}
	}
	@keyframes twave {
		0%{
			transform:translateY($moveValue);
			opacity: 0;
		}
		100%{
			transform:translateY(0px);
			opacity: 1;
		}
	}
}

/* twave2 */
.twave2{
	$moveValue : 10px;
	$moveSpeed : .3s;
	font-size:0;
	> div {
		font-size:0;
		> span {
			display: inline-block;
			min-width:.4em;
			color:#000;
			font-weight:bold;
			font-size:45px;
			transform:translateY(0px);
			transition-property: all;
			transition-duration: $moveSpeed ;
			transition-timing-function: ease-in-out;
		}
	}
	&.active{
		> div {
			> span {
				transform:translateY($moveValue);
				opacity: 0;
				animation-name : twave2;
				animation-duration: $moveSpeed;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in-out;
			}
		}
	}
	&.hasEvt:hover{
		> div {
			> span {
				transform:translateY($moveValue);
				opacity: 0;
				animation-name : twave2;
				animation-duration: $moveSpeed;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in-out;
			}
		}
	}
	@keyframes twave2 {
		0%{
			transform:translateY(-$moveValue);
			opacity: 0;
		}
		100%{
			transform:translateY(0px);
			opacity: 1;
		}
	}
}

/* bwave1 */
.bwave1{
	$moveValue : 10px;
	$moveSpeed : .2s;
	position: relative;
	position: relative;
	border:1px solid #333;
	padding:20px 25px;
	color:#000;
	font-weight:bold;
	font-size:20px;
	overflow: hidden;
	&:before{
		content:"";
		display: block;
		width:100%;
		height:0%;
		position: absolute;
		left:0%;
		top:0%;
		background-color: #000;
		transform:translateY(-50%);
		border-radius:0 0 50% 50%;
		z-index: -1;
		transition: height .3s,	border-radius .2s;
	}
	&:hover:before{
		height:200%;
		border-radius:0 0 0 0;
		transition: height .4s cubic-bezier(0.55, 0.055, 0.675, 0.19),
						border-radius .3s .3s;
	}
	&.twave2{
		font-size:0;
		> div {
			> span {
				font-size:20px;
			}
		}
		&:hover{
			> div {
				> span {
					transform:translateY($moveValue);
					opacity: 0;
					animation-name : btwave2;
					animation-duration: $moveSpeed;
					animation-fill-mode: forwards;
					animation-timing-function: ease-in-out;
				}
			}
		}
		@keyframes btwave2 {
			0%{
				transform:translateY(-$moveValue);
				opacity: 0;
				color:#000;
			}
			100%{
				transform:translateY(0px);
				opacity: 1;
				color:#fff;
			}
		}
	}
}

.ani_bwave_2{
	$moveValue : 10px;
	$moveSpeed : .3s;
	font-size:0;
	> div {
		font-size:0;
		> span {
			display: inline-block;
			min-width:.4em;
			color:#000;
			font-weight:bold;
			font-size:45px;
			transform:translateY(0px);
			transition-property: all;
			transition-duration: $moveSpeed ;
			transition-timing-function: ease-in-out;
		}
	}
	&.active{
		> div {
			> span {
				transform:translateY($moveValue);
				opacity: 0;
				animation-name : twave2;
				animation-duration: $moveSpeed;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in-out;
			}
		}
	}
	@keyframes twave2 {
		0%{
			transform:translateY(-$moveValue);
			opacity: 0;
		}
		100%{
			transform:translateY(0px);
			opacity: 1;
		}
	}
}

.wrap_btn{
	padding:20px;
	text-align: center;
	> ul {
		> li {
			margin-bottom: 50px;
		}
	}
	.btn{
		display: inline-block;
	}
}

/* btn animation pop */
.btn_ani_pop_1{
	$default-color :#00b894;
	$eas : cubic-bezier(0.19, 1, 0.22, 1);
	position: relative;
	display: inline-block;
	border:1px solid $default-color;
	padding:1.5em 3em;
	font-size:1.3em;
	font-weight: bold;
	color:$default-color;
	overflow: hidden;
	transition:color .5s $eas;

	&:before{
		content:"";
		display: block;
		position: absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		width:10px;
		height:10px;
		background-color: $default-color;
		border-radius:50%;
		transform:scale(0);
		transition:transform .5s $eas;
		z-index: -1;
	}
	&:hover{
		color:#fff;
	}
	&:hover:before{
		transform:scale(30);
	}

}

.btn_ani_pop_2{
	$default-color :#0984e3;
	$eas : cubic-bezier(0.19, 1, 0.22, 1);
	$time : .5s;
	position: relative;
	display: inline-block;
	border:1px solid $default-color;
	padding:1.5em 3em;
	font-size:1.3em;
	font-weight: bold;
	color:$default-color;
	overflow: hidden;
	transition:color $time $eas;

	&:before{
		content:"";
		display: block;
		position: absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		width:10px;
		height:10px;
		background-color: $default-color;
		border-radius:50%;
		transform:scale(0);
		transition:transform $time $eas;
		z-index: -1;
	}
	&:hover{
		color:#fff;
		animation-name:textBubble;
		animation-duration: .4s;
		animation-timing-function: $eas;
	}
	&:hover:before{
		transform:scale(30);
	}

	@keyframes textBubble{
		0%{letter-spacing: 0px; padding:1.5em 3em;}
		50%{letter-spacing: 10px; padding:1.7em 3em;}
		100%{letter-spacing: 0px; padding:1.5em 3em;}
	}

}

.btn_ani_pop_3{
	$default-color :#e17055;
	$eas : cubic-bezier(0.19, 1, 0.22, 1);
	$time : .8s;
	$pos : 10px;
	position: relative;
	display: inline-block;
	border:1px solid $default-color;
	padding:1.5em 3em;
	font-size:1.3em;
	font-weight: bold;
	color:$default-color;
	overflow: hidden;
	transition:color $time $eas;

	&:before, &:after{
		content:"";
		display: block;
		position: absolute;
		width:10px;
		height:10px;
		background-color: $default-color;
		border-radius:50%;
		transform:scale(0);
		transition:transform $time $eas;
		z-index: -1;
	}
	&:before{
		left:$pos;
		top:$pos;
	}
	&:after{
		right:$pos;
		bottom:$pos;
	}
	&:hover{
		color:#fff;
	}
	&:hover:before, &:hover:after{
		transform:scale(30);
	}

}
