<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="bx_ani">
		<!-- 활성화 클래스 : active -->
		<a href="#;" class="ani_bwave_2 btn_link">
			<div>
				<span>G</span>
				<span>A</span>
				<span>E</span>
				<span>S</span>
				<span>I</span>
				<span>G</span>
				<span>N</span>
				<span>E</span>
				<span>R</span>
			</div>
			<svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
				<!-- <path class="shape-overlays__path" d="M 0 100 C 50 100 50 100 100 100 V 100 H 0" stroke="red" stroke-width="2"></path> -->
				<path class="shape-overlays__path" d="M 0 0 V 100 C 50 100 50 100 100 100 V 0 H 0" stroke="red" stroke-width="2"></path>
			</svg>
		</a>
	</div>

	<script>
		/*let btn = document.querySelectorAll('.ani_twave_2') ;

		[].forEach.call( btn , function( target , idx ){
			target.addEventListener('mouseenter', function(){
				this.classList.add('active') ;
			}) ;
		}) ;
		[].forEach.call( btn , function( target , idx ){
			target.addEventListener('mouseleave', function(){
				this.classList.remove('active') ;
			}) ;
		}) ;*/
	</script>

</body>
</html>