<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="bx_ani">
		<a href="#;" class="bwave1 twave2">GAESIGNER</a>
	</div>

</body>
</html>