<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/css_slider_radio.css">
</head>
<body>


	<div class="wrap">

		<div class="slider">

			<input type="radio" id="item1" name="sBtn" />
			<input type="radio" id="item2" name="sBtn" />
			<input type="radio" id="item3" name="sBtn" />
			<input type="radio" id="item4" name="sBtn" />
			<input type="radio" id="item5" name="sBtn" />

			<ul class="img">
				<li><img src="https://picsum.photos/600/400?image=501" alt=""></li>
				<li><img src="https://picsum.photos/600/400?image=502" alt=""></li>
				<li><img src="https://picsum.photos/600/400?image=503" alt=""></li>
				<li><img src="https://picsum.photos/600/400?image=504" alt=""></li>
				<li><img src="https://picsum.photos/600/400?image=505" alt=""></li>
			</ul><!-- end of img -->

			<div class="btns">
				<label for="item1">item1</label>
				<label for="item2">item2</label>
				<label for="item3">item3</label>
				<label for="item4">item4</label>
				<label for="item5">item5</label>
			</div><!-- end of btns -->

		</div><!-- end of slider -->

	</div><!-- end of wrap -->


</body>
</html>