<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/css_grid_layout.css">
</head>
<body style="background:#666;">

	<!-- <div class="layoutWrap">
		<div class="content">
			<div class="feature">
				<h3>Feature</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="special">
				<h3>Special</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="notice">
				<h3>Notice</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="hot">
				<h3>Hot</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="photos">
				<h3>Photos</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="etc">
				<h3>Etc</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div> --><!-- end of wrap -->


	<div class="lgWrap" style="display:none;">
		<div class="content">
			<div class="box1">
				<h1>title1</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box2">
				<h1>title2</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box3">
				<h1>title3</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box4">
				<h1>title4</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box5">
				<h1>title5</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box6">
				<h1>title6</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box7">
				<h1>title7</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box8">
				<h1>title8</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="box9">
				<h1>title9</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>

	<div class="wrapNew">
		<div class="content">
			<div>
				<p>1</p>
			</div>
			<div>
				<p>2</p>
			</div>
			<div>
				<p>3</p>
			</div>
			<div>
				<p>4</p>
			</div>
		</div>
	</div>

</body>
</html>