<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/css_grid_layout.css">
</head>
<body>

	<!-- <div class="wrawpper">
		<img src="https://picsum.photos/600/300" alt="">
		<h1>Title Banner</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum earum aut eligendi reprehenderit magnam consequuntur, repellendus necessitatibus quo fugiat?</p>
	</div> -->

<!-- 	<div class="wrapper">
		<div class="header">
			<h1 class="logo">LOGO</h1>
			<div class="srch">
				<input type="text" />
			</div>
			<ul class="util">
				<li><a href="#;">로그인</a></li>
				<li><a href="#;">회원가입</a></li>
				<li><a href="#;">고객센터</a></li>
			</ul>
		</div>
		<nav>Navigation</nav>
		<div class="banner">
			banner
		</div>
		<div class="full"></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
 -->

<div class="slider_wrap">
	<div class="item">slider01</div>
	<div class="item">slider02</div>
	<div class="item">slider03</div>
	<div class="item">slider04</div>
	<div class="item">slider05</div>
	<div class="item">slider06</div>
</div>



</body>
</html>