<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/css_grid_layout.css">
</head>
<body style="background:#666;">


<div class="gridWrap2">
	<div class="box a">a</div>
	<div class="box b">b</div>
	<div class="box c">c</div>
	<div class="box d">d</div>
	<div class="box e">e</div>
	<div class="box f">f
		<div class="quick">
			quick bar
		</div>
	</div>
</div>



</body>
</html>