<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/css_grid_layout.css">
</head>
<body>

	<div class="cardWrap">
		<div class="imgWrap"><img src="https://picsum.photos/200/200?image=503" alt=""></div>
		<h2 class="title">This is title</h2>
		<p class="cont">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, quidem. Iusto natus cumque est deserunt eos corrupti, quae repudiandae esse minima magni eum ratione temporibus quia dolorem ullam praesentium asperiores, sed explicabo iure, minus dolores earum. Omnis eveniet esse quaerat, ducimus? Omnis libero ut magnam eum eaque fugit tempora culpa.</p>
		<div class="footer">This is footer</div>
	</div>

	<!--
		skeleton loading
		최신 유행하는 로딩 스타일

		어떻게 만들 것인가?
		대답들 : 태그를 추가해서 스타일을 꾸미는 방법, 기존 태그에 스타일을 꾸며서 데이터를 다 불러오면 로딩 스타일을 삭제하는 방법 , 이미지 처리 방법 등등

		새로운 기술을 사용해서 만들어본다.

		우리는 얼마전에 그라디언트를 배웠다.
		그라디언트를 사용해서 만들어본다.

	-->

	<div class="cardWrap loading">
		<div class="imgWrap"><img src="https://picsum.photos/200/200?image=503" alt=""></div>
		<h2 class="title">This is title</h2>
		<p class="cont">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, quidem. Iusto natus cumque est deserunt eos corrupti, quae repudiandae esse minima magni eum ratione temporibus quia dolorem ullam praesentium asperiores, sed explicabo iure, minus dolores earum. Omnis eveniet esse quaerat, ducimus? Omnis libero ut magnam eum eaque fugit tempora culpa.</p>
		<div class="footer">This is footer</div>
	</div>


</body>
</html>