<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="wrap_btn">
		<ul>
			<li>
				<button type="button" class="btn btn_ani_pop_1">BUTTON</button>
			</li>
			<li>
				<button type="button" class="btn btn_ani_pop_2">BUTTON</button>
			</li>
			<li>
				<button type="button" class="btn btn_ani_pop_3">BUTTON</button>
			</li>
		</ul>
	</div>


</body>
</html>