<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/image_split_slide.css">
</head>
<body>


	<div class="wrap">

		<div class="bn_wrap">
			<div class="bg">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="txt">
				<h1 class="tit">Lorem ipsum</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi possimus sapiente quo, beatae eum maxime, et inventore quis soluta ullam?</p>
			</div>
		</div>

	</div>

</body>
</html>