<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="wrap">

		<dl>
			<dt>Button Hover Line Animation</dt>
			<dd>
				<ul class="lst_sample">
					<li>
						<button type="button" class="btn_hover_line line_type_1">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_2">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_3">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_4">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_5">
							<span>BUTTON</span>
						</button>
					</li>
					<li>

					</li>
					<li>
						<button type="button" class="btn_hover_line line_type_6">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_7">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_8">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_9">
							<span>BUTTON</span>
						</button>
						<button type="button" class="btn_hover_line line_type_10">
							<span>BUTTON</span>
						</button>
					</li>
				</ul>
			</dd>
		</dl>



	</div>

</body>
</html>