<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="bx">box</div>

	<div class="wrap_btn">
		<ul class="lst_btn">
			<li>
				<a href="#;" class="ani_twave">GAESIGNER</a>
			</li>
			<li>
				<!-- <a href="#;" class="ani_twave wave_down">HELLO</a> -->
				<a href="#;" class="ani_twave">HELLO</a>
			</li>
			<li>
				<a href="#;" class="ani_twave">GAESIGNER</a>
			</li>
			<li>
				<!-- <a href="#;" class="ani_twave wave_down">HELLO</a> -->
				<a href="#;" class="ani_twave">HELLO</a>
			</li>
		</ul>
	</div>

</body>
</html>