<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<ul class="menu">
		<li id="Profile">
			<a href="#Profile"><i class="fas fa-user-circle"></i>Profile</a>
			<div class="subMenu">
				<a href="#;">Infomation</a>
				<a href="#;">Picture</a>
			</div>
		</li>
		<li id="Message">
			<a href="#Message"><i class="fas fa-envelope"></i>Message</a>
			<div class="subMenu">
				<a href="#;">Teams</a>
				<a href="#;">Mail</a>
			</div>
		</li>
		<li id="Setting">
			<a href="#Setting"><i class="fas fa-cog"></i>Setting</a>
			<div class="subMenu">
				<a href="#;">Modify</a>
				<a href="#;">Delete</a>
			</div>
		</li>
		<li id="Logout"><a href="#;"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
	</ul>


</body>
</html>