<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<!-- <ul>
		<li><a href="#box1">box1</a></li>
		<li><a href="#box2">box2</a></li>
		<li><a href="#box3">box3</a></li>
	</ul>


	<div class="wrap">
		<dl id="box1">
			<dt>title1</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quod, officiis, saepe quam quibusdam, non dolore quaerat iste pariatur exercitationem ipsum repellat. Quidem dolorum fugit, id ducimus est nam eos?
				<p><a href="#;">닫기</a></p>
			</dd>
		</dl>
		<dl id="box2">
			<dt>title2</dt>
			<dd>Culpa autem quasi ipsam dolore, repudiandae, minus magnam nam illo repellendus quos consequuntur vero reprehenderit facere doloremque laudantium reiciendis dignissimos nihil enim quo perferendis. Magnam dicta recusandae tenetur a ipsum.
				<p><a href="#;">닫기</a></p>
			</dd>
		</dl>
		<dl id="box3">
			<dt>title3</dt>
			<dd>Nobis dolorum quis placeat rerum aspernatur quod modi soluta voluptatibus cumque, nesciunt praesentium, optio nostrum eligendi rem repellat, et accusantium iusto, blanditiis doloremque. Nulla distinctio minus officiis perspiciatis, aperiam dolorem.
				<p><a href="#;">닫기</a></p>
			</dd>
		</dl>
	</div> -->


	<div class="wrap">
		<dl class="accordian_wrap">
			<dt><a href="#Profile"><i class="fas fa-user-circle"></i>Profile</a></dt>
			<dd id="Profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis reiciendis consequatur id error veritatis. A autem totam, blanditiis, aspernatur reprehenderit reiciendis illum nam non mollitia nisi, vel ratione ipsa laborum?</dd>
			<dt><a href="#Mypage"><i class="fas fa-file"></i>Mypage</a></dt>
			<dd id="Mypage">Nemo hic earum quo iure iusto aperiam laudantium asperiores expedita id voluptates, et quia, commodi quam cupiditate magni placeat velit mollitia odit quis. Qui harum, inventore temporibus. Veritatis ratione, iusto.</dd>
			<dt><a href="#Setting"><i class="fas fa-cog"></i>Setting</a></dt>
			<dd id="Setting">Perferendis est voluptatibus repudiandae sapiente praesentium, consequatur eligendi odit, libero architecto repellendus dignissimos omnis. Ea adipisci iusto id officia consectetur, dolorem aliquid laudantium officiis maxime error fugiat, cupiditate eveniet ut.</dd>
			<dt><a href="#Like"><i class="fas fa-thumbs-up"></i>Like</a></dt>
			<dd id="Like">Ipsa, dicta incidunt doloremque enim delectus natus, adipisci quas magnam, voluptates labore itaque, laboriosam quod ex neque in dolor. Officiis ad commodi cumque consequatur eveniet similique nemo ratione ullam saepe!</dd>
			<dt><a href="#MyFriend"><i class="fas fa-user-friends"></i>MyFriend</a></dt>
			<dd id="MyFriend">Ipsum est nesciunt sed, rem dignissimos quidem, similique maxime. Nam esse id atque eveniet temporibus suscipit aperiam, nobis illo minus, aliquid enim culpa dolor ducimus nihil distinctio maiores, soluta tenetur.</dd>
		</dl>
	</div>




</body>
</html>