<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="wrap_btn">
		<ul class="lst_btn">
			<li>
				<a href="#;" class="ani_twave">GAESIGNER</a>
			</li>
			<li>
				<!-- <a href="#;" class="ani_twave wave_down">HELLO</a> -->
				<a href="#;" class="ani_twave">HELLO</a>
			</li>
			<li>
				<a href="#;" class="ani_twave">GAESIGNER</a>
			</li>
			<li>
				<!-- <a href="#;" class="ani_twave wave_down">HELLO</a> -->
				<a href="#;" class="ani_twave wave_down">HELLO</a>
			</li>
		</ul>
	</div>

	<a href="#;" style="display:inline-block; background:#333;" class="btn_link">
		<svg version="1.1"
		baseProfile="full"
		width="200" height="80"
		id="btnLink"
		xmlns="http://www.w3.org/2000/svg" fill="black" style="border:1px solid #333; vertical-align: top;">
			<path d="M0 80 L 200 80 L 200 0 Q 100 -50 0 0" fill="white">
				<animate id="aniSvg" dur="0.6s" repeatCount="1" attributeName="d"
				     values="M0 80 L 200 80 L 200 80 Q 100 90 0 80;
			     M0 80 L 200 80 L 200 80 Q 100 80 0 80;
			     M0 80 L 200 80 L 200 80 Q 100 70 0 80;
			     M0 80 L 200 80 L 200 80 Q 100 50 0 80;
			     M0 80 L 200 80 L 200 80 Q 100 25 0 80;
			     M0 80 L 200 80 L 200 80 Q 100 0 0 80;
			     M0 80 L 200 80 L 200 60 Q 100 0 0 60;
			     M0 80 L 200 80 L 200 40 Q 100 0 0 40;
			     M0 80 L 200 80 L 200 20 Q 100 0 0 20;
			     M0 80 L 200 80 L 200 0 Q 100 0 0 0;"/>
			</path>
		</svg>
	</a>







	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1000" height="400">
	<path id="path" stroke-width="20"/>
	</svg>








	<!-- <svg version="1.1"
	baseProfile="full"
	width="200" height="100"
	xmlns="http://www.w3.org/2000/svg" style="border:1px solid #333;">
		<path d="M0 100 L 200 100 L 200 100 Q 100 90 0 100" fill="black" />
	</svg>

	<svg version="1.1"
	baseProfile="full"
	width="200" height="100"
	xmlns="http://www.w3.org/2000/svg" style="border:1px solid #333;">
		<path d="M0 100 L 200 100 L 200 100 Q 100 50 0 100" fill="black" />
	</svg>

	<svg version="1.1"
	baseProfile="full"
	width="200" height="100"
	xmlns="http://www.w3.org/2000/svg" style="border:1px solid #333;">
		<path d="M0 100 L 200 100 L 200 100 Q 100 0 0 100" fill="black" />
	</svg>

	<svg version="1.1"
	baseProfile="full"
	width="200" height="100"
	xmlns="http://www.w3.org/2000/svg" style="border:1px solid #333;">
		<path d="M0 100 L 200 100 L 200 100 Q 100 -50 0 100" fill="black" />
	</svg>

	<svg version="1.1"
	baseProfile="full"
	width="200" height="100"
	xmlns="http://www.w3.org/2000/svg" style="border:1px solid #333;">
		<path d="M0 100 L 200 100 L 200 50 Q 100 -50 0 50" fill="black" />
	</svg>

	<svg version="1.1"
	baseProfile="full"
	width="200" height="100"
	xmlns="http://www.w3.org/2000/svg" style="border:1px solid #333;">
		<path d="M0 100 L 200 100 L 200 0 Q 100 -50 0 0" fill="black" />
	</svg> -->


</body>
</html>