<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="slider_wrap" data-len="6" data-text="123123123">
		<div class="item">slider01</div>
		<div class="item">slider02</div>
		<div class="item">slider03</div>
		<div class="item">slider04</div>
		<div class="item">slider05</div>
		<div class="item">slider06</div>
	</div>

</body>
</html>