<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="bx_ani">
		<!-- 활성화 클래스 : active -->
		<a href="#;" class="ani_twave_2">GAESIGNER</a>
	</div>

	<div class="bx_ani">
		<p class="ani_twave_2">HELLO WORLD</p>
	</div>

	<script>
		/*let btn = document.querySelectorAll('.ani_twave_2') ;

		[].forEach.call( btn , function( target , idx ){
			target.addEventListener('mouseenter', function(){
				this.classList.add('active') ;
			}) ;
		}) ;
		[].forEach.call( btn , function( target , idx ){
			target.addEventListener('mouseleave', function(){
				this.classList.remove('active') ;
			}) ;
		}) ;*/
	</script>

</body>
</html>